name: MLflow CI Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # 3. Install MLflow
      - name: Install MLflow
        run: |
          pip install mlflow

      # 4. Run training as MLflow Project
      - name: Run MLflow Project
        run: |
          cd MLProject
          export MLFLOW_TRACKING_URI=file:./mlruns
          mlflow run .

      # 5. Commit mlruns to repository
      - name: Commit mlruns folder
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add MLProject/mlruns || echo "No mlruns to add"
          git commit -m "Add MLflow Project training artifacts" || echo "No changes to commit"
          git push
